* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1, h2, h3 {
  font-weight: 400;
  color: #2d314d;
}

body {
  font-size: 1.8rem;
  font-family: "Public Sans", sans-serif;
  color: #9698a6;
}

img {
  width: 100%;
}

.container {
  text-align: center;
  width: 85%;
  margin: 0 auto;
}

.button {
  padding: 15px 30px;
  background: linear-gradient(to right, #31d35c, #2bb7da);
  border-radius: 30px;
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.header {
  position: relative;
  z-index: 3;
  min-width: 288px;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  background-color: white;
}
.header .container {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header__icon span {
  display: block;
  width: 31px;
  height: 15px;
  background-image: url(../images/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header__options {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  height: 250px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 20px 0;
  text-align: center;
  background-color: white;
  display: none;
}
.header__options li {
  list-style: none;
}
.header__options li a {
  display: inline-block;
  padding: 10px 0;
  height: 40px;
  min-width: 66px;
  text-decoration: none;
  color: #2d314d;
  display: none;
}
.header__options li a:hover {
  border-bottom: 2px solid #31d35c;
}
.header .button {
  display: none;
}

.generation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.generation__bg {
  background-image: url(../images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  position: relative;
  height: 375px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.generation__bg img {
  position: absolute;
  top: -133px;
  max-width: 430px;
  min-width: 288px;
}
.generation__info {
  min-height: 350px;
  padding-top: 30px;
  text-align: center;
}
.generation__info .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: inherit;
}
.generation__info h1 {
  font-size: 3.6rem;
  font-weight: 400;
  color: #2d314d;
  margin-bottom: 20px;
}
.generation__info p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 30px;
}

.cards {
  background-color: #f3f4f6;
  padding: 50px 0;
}
.cards__info {
  margin-bottom: 50px;
}
.cards__info h2 {
  font-size: 3.2rem;
  margin-bottom: 20px;
}
.cards__info p {
  font-size: 1.5rem;
  line-height: 2.4rem;
}
.cards__container {
  display: flex;
  align-items: center;
  align-items: center;
  flex-direction: column;
}
.cards .card {
  height: 215px;
  width: 100%;
  min-width: 288px;
  max-width: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50px;
}
.cards .card img {
  width: 70px;
}
.cards .card p {
  font-size: 1.5rem;
  line-height: 2.4rem;
}

/*# sourceMappingURL=styles.css.map */
