$color-primario: hsl(136, 65%, 51%);
$color-footer: hsl(233, 26%, 24%);
$color-variacion: hsl(192, 70%, 51%);
$blanco: hsl(0, 0%, 100%);
$gray: hsl(233, 8%, 62%);
$gray-light: hsl(220, 16%, 96%);
$gray-veryLight:hsl(0, 0%, 98%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

h1,h2,h3,h4 {
    font-weight: 400;
    color: $color-footer;
}

body {  
    font-size: 1.8rem;
    font-family: 'Public Sans', sans-serif;
    color: $gray;
    overflow-x: hidden;
}

img {
    width: 100%;
}

.hide {
    display: none;
}

@mixin flex {
    display: flex;
    align-items: center;
}

@mixin bg {
        background-repeat: no-repeat;
        background-size: cover;
}

.container {
    text-align: center;
    width: 85%;
    margin: 0 auto;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    background: linear-gradient(to right, #31d35c, #2bb7da);
    border-radius: 30px;
    color: $blanco;
    font-weight: 700;
    text-decoration: none;

    &:hover {
        filter: brightness(125%);
        transition: ease-in-out .3s all;
    }
}

.bg-close {
    display: block;
    width: 25px;
    height: 25px;
    background-image: url(../images/icon-close.svg);
    @include bg;

    &:hover {
        cursor: pointer;
    }
}